*.pyc
*.db
*.log
*.log.*
*~      
.*
*.cpython*.pyc
*/__pycache__/

html/                
htmlcov/          
coverage/                  
build/              
dist/        
*.egg-info/            
MANIFEST          
                                       
bin/              
include/            
lib/                                  
local/
venv/
env/
venv*/
env3*/                                                                        
random/


!.gitignore
!.travis.yml
*.env
**/**/migrations/0*.py
**/migrations/0*.py

